@import '../../shared/Styles/colors.scss';

.container{
    height: 106px;
    width: 100%;
    border: 1px solid $border_color_light;
    align-items: center;

    .header{
        height: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
    }

    .main{
        width: 95%;
        height: 53px;
        margin: 0 15px;

        .main__content{
            display: flex;
            height: 53px;
            justify-content: space-around;
            align-items: center;
        }
    }
}