@use '../../../shared/Styles/hoverIconOption' as *;
@use '../../../shared/Styles/navBarFixed' as *;
@use '../../../shared/Styles/breakpoints' as *;

@import '../../../shared/Styles/colors';

.container__navHome{
    width: 100%;
    border-bottom: 1px solid $border_color_light;

    .header__navHome{
        @include navBarFixed;

        .headerNavHome__Photo{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .headerNavHome__Photo-user{
                @media(min-width: ($MobileXL + 1)){
                    display: none;
                }
            }
            div{
                h2{
                    @media(max-width: $MobileXL){
                        padding: 0 0 0 25px;
                    }
                                     
                }
            }
        }
        .stars{
            @include iconOptionGrey;
            i{
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center; 
            }
        }

        @media(max-width: $MobileXL){
            border-bottom: 1px solid $border_color_light;
        }
    }
}