@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors.scss';

.MenuItem__exteriorContent{
    .active{
        font-weight: 700;
    }
    .menuItem__content{
        min-width: 64px;
        min-height: 64px;
        width: auto;
        max-width: 248px;
        color: $color_font_light;
        padding: 13px 0 13px 10px;
        display: flex;
        align-items: center;
        
        @media(max-height: $TabletS){
            padding: 8px 0 8px 10px;
        }
        @media(max-width: $LaptopL){
            max-width: 64px;
            padding: 0;
            justify-content: center;
        }
        .menuItem__label{
            padding: 0 0 0 10px;
            font-size: 20px;
            @media(max-width: $LaptopL){
                display: none;
            }
        }

        &:hover{
            background-color: $border_color_light;
            border-radius: 40px;
            max-width: 170px;
            @media(max-width: $LaptopL){
                width: 55px;
                border-radius: 50%;
            }
        }
    }
}