@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors';

.register__container{
    .register__content{
        width: 100%;
        height: 100%;
        .content__registerTop{
            display: flex;
            .register__exit {
                padding: 15px 0px 0 15px;
                label{
                    cursor: pointer;
                }
                @media(max-width: $TabletS) {
                    position: absolute; 
                    top: 0; 
                    left: 0;
                }
            }
            .register__iconTwitter {
                padding: 10px 0px 0 250px;

                @media (max-width: $TabletS) {
                    padding: 5px 0px 0 45%;
                    
                }
                @media (max-width: $TabletM) {
                    padding: 5px 0px 0 45%;
                    
                }
            }
        }
        .content__registerLabel{
            display: flex;
            padding: 23px 0 0 33px;
            .registerLabel {
                font-size: 23px;
                font-weight: 700;
            }
        }
        .content__registerName {
            display: flex;
            justify-content: center;
            position: relative;
            padding: 25px 0 0 0;

            @media(max-width: $TabletM) {
                padding: 25px 25px 0 25px;
            }

            input[type="text"] {
                background: transparent;
                border: transparent;
                width: 536px;
                height: 60px;
                font-size: 16px;
                border: 1px solid $border_color_light;
                border-radius: 5px;
                color: white;
            
                @media(max-width: $TabletM) {
                    width: 100%;
                }
            }
        }
        .content__registerName:focus {
            border: 1px solid $blue_Twitter;
        }
        .content__registerEmail {
            display: flex;
            justify-content: center;
            position: relative;
            padding: 25px 0 0 0;

            @media(max-width: $TabletM) {
                padding: 25px 25px 0 25px;
            }

            input[type="text"] {
                background: transparent;
                border: transparent;
                width: 536px;
                height: 60px;
                font-size: 16px;
                border: 1px solid $border_color_light;
                border-radius: 5px;
                color: white;
            
                @media(max-width: $TabletM) {
                    width: 100%;
                }
            }
        }
        .content__registerEmail:focus {
            border: 1px solid $blue_Twitter;
        }
        .content__changeEmailPhone{
            padding: 30px 0 0 33px;
            .registerChangeEmailPhone{
                cursor: pointer;
                background: transparent;
                border: transparent;
                color: $blue_Twitter;
            }
            .registerChangeEmailPhone:hover{
                text-decoration: underline;
            }
        }
        .content__dateInfo{
            padding: 35px 0 0 33px;
            .Birthday{
                font-size: 15px;
                font-weight: 700;
            }
            .div__info{
                width: 536px;
                padding: 5px 0 0 0; 
            
                @media(max-width: $TabletM) {
                    width: 90%;
                }

                .info__label{
                    color: $color_text_gray;
                    font-size: 15px;
                }
            }
        }
        .content__birthdaySelect{
            padding: 16px 25px 30px 33px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .birthday__Month{
                width: 100%;
                display: flex;
                border: 1px solid $border_color_light;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                @media(max-width: $TabletM) {
                    
                }
                select{
                    padding: 20px 0 0 7px;
                    appearance: none;
                    cursor: pointer;
                    background: $background_Twitter;
                    color: $color_font_light;
                    border: transparent;
                    border-radius: 5px;
                    height: 60px;
                    width: 252px;
            
                    @media(max-width: $TabletM) {
                        width: 100%;
                    }
                }
                select:focus {
                    border: 1px solid $blue_Twitter;
                }
                .month__icon{
                    color: $color_text_gray;
                    position: absolute;
                    margin: 0 0 0 210px;
                    pointer-events: none;
            
                    @media(max-width: $TabletM) {
                        margin: 0 0 0 14%;
                    }
                }
                .month__label{
                    color: $color_text_gray;
                    font-size: 13px;
                    position: absolute;
                    margin: 0 200px 30px 0;
                    pointer-events: none;
            
                    @media(max-width: $TabletM) {
                        margin: 0 12% 30px 0;
                    }
                }
            }
            .birthday__day{
                margin: 0 0 0 15px;
                width: 100%;
                display: flex;
                border: 1px solid $border_color_light;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                select{
                    padding: 20px 0 0 7px;
                    appearance: none;
                    cursor: pointer;
                    background: $background_Twitter;
                    color: $color_font_light;
                    border: transparent;
                    border-radius: 5px;
                    width: 118px;
                    height: 60px;
            
                    @media(max-width: $TabletM) {
                        width: 100%;
                    }
                }
                select:focus {
                    border: 1px solid $blue_Twitter;
                }
                .day__icon{
                    color: $color_text_gray;
                    position: absolute;
                    margin: 0 0 0 70px;
                    pointer-events: none;
            
                    @media(max-width: $TabletM) {
                        margin: 0 0 0 14%;
                    }
                }
                .day__label{
                    color: $color_text_gray;
                    font-size: 13px;
                    position: absolute;
                    margin: 0 80px 30px 0;
                    pointer-events: none;
            
                    @media(max-width: $TabletM) {
                        margin: 0 12% 30px 0;
                    }
                }
            }
            .birthday__year{
                margin: 0 0 0 15px;
                width: 100%;
                display: flex;
                border: 1px solid $border_color_light;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                select{
                    padding: 20px 0 0 7px;
                    appearance: none;
                    cursor: pointer;
                    background: $background_Twitter;
                    color: $color_font_light;
                    border-radius: 5px;
                    border: transparent;
                    width: 135px;
                    height: 60px;
            
                    @media(max-width: $TabletM) {
                        width: 100%;
                    }
                }
                select:focus {
                    border: 1px solid $blue_Twitter;
                }
                .year__icon{
                    color: $color_text_gray;
                    position: absolute;
                    margin: 0 0 0 90px;
                    pointer-events: none;
            
                    @media(max-width: $TabletM) {
                        margin: 0 0 0 14%;
                    }
                }
                .year__label{
                    color: $color_text_gray;
                    font-size: 13px;
                    position: absolute;
                    margin: 0 95px 30px 0;
                    pointer-events: none;
            
                    @media(max-width: $TabletM) {
                        margin: 0 12% 30px 0;
                    }
                }
            }
        }
        .content__nextButton{
            display: flex;
            justify-content: center;
            .nextButton{
                cursor: pointer;
                width: 534px;
                height: 43px;
                border-radius: 40px;
                margin: 10px 20px 10px 20px;
            
                @media(max-width: $TabletM) {
                    width: 100%;
                }
            }
            
            
        }
    }
}