@use '../../Styles/hoverIconOption' as *;
@import '../../Styles/colors.scss';

.settingsMenu__container{
    .settings{
        i{
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color_text_gray;
            cursor: pointer;
        }
        @include iconOptionStandard;
    }
    .settings__menuDown{
        position: fixed;
        width: 300px;
        background-color: $background_Twitter;
        border: 1px solid $color_text_gray;
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
        padding: 15px;
        transform: translate(-265px,-35px);
    }
}