@use '../../../shared/Styles/hoverIconOption' as *;

@import '../../Styles/colors';

.PopUp__container{
    position: fixed;
    background-color: $bg_PopUp;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;

    .PopUp__content{
        position: absolute;
        margin: 50px 0 0 0;
        padding: 10px;
        width: 600px;
        background-color: $background_Twitter;
        border-radius: 20px;

        .icon{
            @include iconOptionGrey;
            i{
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center; 
            }
        }
        .children__PopUp{
            transform: translateY(-30px);
        }
    }
}