@import '../../shared/Styles/colors.scss';

.notification__container{
    width: 100%;

    display: flex;
    border-left: 1px solid $border_color_light;
    border-right: 1px solid $border_color_light;
    border-bottom: 1px solid $border_color_light;
    padding: 10px 0;
    cursor: pointer;

    .notification__container-icon{
        width: 32px;
        margin: 0 0px 0 32px;
        color: $blue_Twitter;
    }

    .notification__container-photo{
        width: 32px;
        margin: 0 12px 0 0px;
    }

    .notification__container-content{
        width: 100%;
        padding: 0 12px 0 10px;

        .content__nav{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row;

            .content__nav-data{
                width: 100%;
                height: 22px;
                display: flex;

                span{
                    height: auto;
                    width: auto;
                    display: inline;
                    line-height: 20px;
                    padding: 0 5px 0 0;
                    white-space: nowrap;
                }

                .nav__data-name{
                    font-weight: 700;
                }
                .nav__data-username{
                    @media(max-width: 400px){
                        display: none;
                    }
                }
                .nav__data-username, .nav__data-time{
                    color: $color_text_gray;
                }
            }
            .content__nav-settings{
                display: flex;
                align-items: stretch;
                margin: 0 10px 0 10px;
            }
        }

        .content__text{
            width: 100%;
            min-height: auto;
            margin: 0 10px 0 0;

            span{
                font-weight: 700;
            }
        }
    }
}