@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors.scss';

.menu__container{
    height: 100%;
    width: 100%;
    background: $background_Twitter;
    align-items: center;
    justify-content: center;
    .prueba{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
}