@use '../../../shared/Styles/breakpoints' as *;

@import '../../../shared/Styles/colors';

.newTweet__container{
    .main__navHome{
        width: 100%;
        height: 160px;
        margin: 53px 0 0 0;
        padding: 0 15px 0 15px;

        @media(max-width: $MobileXL){
            display: none;
        }

        .mainNavHome__Content{
            display: flex;
            height: 145px;

            .mainNavHome__Content-photo{
                width: 48px;
                height: 100%;
            }
            .mainNavHome__Content-form{
                width: 100%;
                height: 100%;
                display: grid;

                .formNavHome__input{
                    border-bottom: 1px solid $border_color_light;

                    input[type="text"]{
                        width: 100%;
                        font-size: 20px;
                        padding: 10px 2px 10px 2px;
                        background-color: transparent;
                        border: transparent;
                        color: inherit;
                    }
                    .formNavHome__input-span{
                        height: 37px;
                        padding: 0 12px 0 12px;
                        font-weight: 700;
                    }
                }

                .formNavHome__options{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .formNavHome__options-icons{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 50%;

                        div{
                            color: $blue_Twitter;
                        }
                    }
                }
            }
        }
    }
}