@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors.scss';

.Layout__container{
    display: flex;
    justify-content: center;
    align-items: center;

    .container__content{

        display: flex;
        justify-content: center;
        min-height: 100vh;
        max-width: 100vw;

        .container__menu{
            width: 250px;
            border: 1px solid #0f0;

            @media(max-width: $LaptopL){
                width: 80px;
            }
            @media(max-width: $TabletS){
                display: none;
            }
        }
    
        .content__main{
            display: flex;
            width: 990px;

            @media(max-width: $LaptopM){
                width: 920px;
            }
            @media(max-width: $LaptopS){
                width: 600px;
            }
            @media(max-width: $TabletS){
                width: 100%;
            }

            .Content__page{
                width: 600px;
                
                @media(max-width: $TabletS){
                    width: 100%;
                }
            }

            .container__trends{
                width: 380px;
                border: 1px solid #0f0;

                @media(max-width: $LaptopL){
                    width: 80px;
                }
                @media(max-width: $TabletS){
                    display: none;
                }
            }
        }
        .container__MenuDown{
            display: none;
            @media(max-width: $TabletS){
                width: 100%;
                display: flex;
                position: fixed;
                border-top: 1px solid $border_color_light;
                bottom: 0;
            }
        }
    }
}