@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors';

.LayoutLogin__Container {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $color_background_login;
    height: 100vh;
    width: 100vw;


    .ContainerLogin__Content {
        height: 650px;
        width: 600px;
        background-color: $background_Twitter;
        border-radius: 16px;
        display: flex;

        @media(max-width: $TabletM) {
            width: 100vw;
            border-radius: 0;
        }

        @media(max-width: $TabletS) {
            width: 100vw;
        }
    } 
}