@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors.scss';

.LayoutMessage__container{
    display: flex;
    justify-content: center;
    align-items: center;

    .containerMessage__content{
        background: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        min-height: 100vh;
        max-width: 100vw;

        .container__menu{
            width: 250px;
            margin: 10px 0 0 0;

            @media(max-width: $LaptopL){
                width: 80px;
            }
            @media(max-width: $TabletS){
                display: none;
            }
            @media(max-height: $MobileXL){
                display: none;
            }
        }
    
        .content__main{
            display: flex;
            width: 990px;
            border: 1px solid $border_color_light;

            @media(max-width: $LaptopM){
                width: 920px;
            }
            @media(max-width: $LaptopS){
                width: 600px;
            }
            @media(max-width: $TabletS){
                width: 100vw;
            }

            .content__insideMessage{
                width: 600px;
    
                @media(max-width: $LaptopS){
                    display: none;
                }
            }
        }
        .container__MenuDown{
            display: none;
            @media(max-width: $TabletS){
                width: 100%;
                display: flex;
                position: fixed;
                border-top: 1px solid $border_color_light;
                bottom: 0;
            }
            @media(max-height: $MobileXL){
                width: 100%;
                display: flex;
                position: fixed;
                border-top: 1px solid $border_color_light;
                bottom: 0;
            }
        }
    }
}