@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors';

.LayoutLogin__Container {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $color_background_login;
    height: 100vh;
    width: 100vw;

    .ContainerLogin__Content {
        height: 650px;
        width: 600px;
        background-color: black;
        border-radius: 16px;
        //align-items: center;
        //justify-content: center;
        display: flex;
    }
}