@import '../../shared/Styles/colors.scss';

.containerMessage{
    width: 390px;
    height: 121px;
    border: 1px solid $border_color_light;

    .containerMessage_header{
        height: 53px;
        color: $color_font_light;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        line-height: 24px;
        align-items: center;
        margin: 0 15px;
        .containerMessage_icons{
            display: flex;
            padding: 10px 0 0 0;
            justify-content: space-between;
            div{
                margin-left: 10px;
            }
        }
    }
    .containerMessage_search{
        color: $color_text_gray;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        height: 43px;
        background-color: $background_Twitter;
        align-items: center;
        padding: 3px 10px;
        border: 1px solid $border_color_light;
        border-radius: 40px;
        input[type="text"]{
            height: 35px;
            width: 100%;
            font-size: 0.9em;
            border: transparent;
            background-color: transparent;
            text-decoration: none solid $color_text_gray;
            color: $color_font_light;
            text-align: center;
        }
        label{
            position: absolute;
            left: 480px;
            top: 75px;
        }
    }
}