@use '../../../shared/Styles/breakpoints' as *;
@import '../../../shared/Styles/colors.scss';

.menu__container{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    .container__nav{
        width: 248px;
        position: fixed;
        .Bookmarks{
            @media(max-height: $MobileXXL){
                display: none;
            }
        }
        .container__twittericon{
            padding: 5px 0 0 10px;
            .clone{
                font-weight: 700;

                @media(max-width: $LaptopL){
                    display: flex;
                    justify-content: center;
                }
            }
        }
        @media(max-width: $LaptopL){
            max-width: 64px;
        }
    }
    .container__btnTweet{
        margin: 13px 5px 0 5px;
        background: $blue_Twitter;
        border-radius: 30px;
        display: flex;
        width: 225px;
        top: 555px;
        align-items: center;
        position: fixed;
        @media(max-height: $TabletS){
            top: 455px;
        }
        @media(max-height: $MobileXXL){
            top: 410px;
        }
        @media(max-width: $LaptopL){
            width: 55px;
        }
        .btnTweet__icon{color: $color_font_light;
            display: none;
            @media(max-width: $LaptopL){
                color: $color_font_light;
                padding: 15px 0 0 0;
                text-align: center;
                justify-content: center;
                border-radius: 30px;
                font-size: 17px;
                font-weight: 700;
                width:100%;
                height: 50px;
                cursor: pointer;
                border: transparent;
                background: transparent;
                display: flex;
            }
        }
        .btnTweet__tweet{
            @media(max-width: $LaptopL){
                display: none;
            }
            color: $color_font_light;
            padding: 15px 0 0 0;
            text-align: center;
            border-radius: 30px;
            font-size: 17px;
            font-weight: 700;
            width:100%;
            height: 50px;
            cursor: pointer;
            border: transparent;
            background: transparent;
        }
    }
    .container__profile{
        display: flex;
        width: 248px;
        height: 64px;
        display: flex;
        position: fixed;
        bottom: 0;
        right: 100;
        align-items: center;
        padding: 0 0 0 10px;
        margin: 0 0 10px 0;
        .pofile_name-moreicon{
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: $LaptopL){
                display: none;
            }
        }
        label{
            font-size:14px;
        }
        .profile__name{
            padding: 0 0 0 10px;
            .profile__name-username{
                color: $color_text_gray;
            }
        }
        .profile__moreicon{
            padding: 0 0 0 35px;
        }
    }
    .container__profile:hover{
        background-color: $border_color_light;
        border-radius: 35px;
    }
}