$blue_Twitter: #1D9BF0;
$blue__Twitter_transparent: rgba(29, 156, 240, 0.2);

$green_Twitter: rgb(0, 186, 124);
$green__Twitter_transparent: rgba(0, 186, 124, 0.2);

$red_Twitter: rgb(249, 24, 128);
$red__Twitter_transparent: rgba(249, 24, 129, 0.2);

$gray__Twitter_transparent: rgba(110, 118, 125, 0.2);

$background_Twitter: #000;
$bg_Twitter_transparent: rgba(0, 0, 0, 0.96);;
$color_font_light: #D9D9D9;

$border_color_light: #2F3336;

$color_text_gray: #6E767D;

$color_background_login: #242D34;
$bg_PopUp: rgba(91, 112, 131, 0.4);
