@use './breakpoints' as *;

@mixin buttonTwitter{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    margin: 15px 0;
    border-radius: 50px;
    cursor: pointer;

}