@use 'colors' as *;
@use 'breakpoints' as *;

@mixin navBarFixed{
    height: 53px;
    width: 597px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    top: 0;
    background-color: $bg_Twitter_transparent;
    position: fixed;
    
    @media(max-width: $TabletS){
        width: 100%;
    }
}