@use '../../../shared/Styles/hoverIconOption' as *;
@import '../../../shared/Styles/breakpoints';
@import '../../../shared/Styles/colors.scss';

.containerMessage{
    width: 390px;
    height: 121px;
    @media(max-width: $LaptopS){
        width: 600px;
    }
    @media(max-width: $TabletS){
        width: 100vw;
    }

    .containerMessage_header{
        height: 53px;
        color: $color_font_light;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        line-height: 24px;
        align-items: center;
        margin: 0 15px;
        .containerMessage_icons{
            display: flex;
            cursor: pointer;
            padding: 10px 0 0 0;
            justify-content: space-between;
            .icon{
                @include iconOptionGrey;
                i{
                    width: 38px;
                    height: 38px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .containerMessage_search{
        color: $color_text_gray;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        height: 43px;
        background-color: $background_Twitter;
        align-items: center;
        padding: 3px 10px;
        border: 1px solid $border_color_light;
        border-radius: 40px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            input[type="text"]{
                height: 35px;
                width: 100%;
                font-size: 0.9em;
                border: transparent;
                background-color: transparent;
                text-decoration: none solid $color_text_gray;
                color: $color_font_light;
                text-align: center;
            }
        }
    }
}