@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors.scss';

.insideMessage__container{
    width: 600px;
    height: 100%;
    border-right: 1px solid $border_color_light;
    border-left: 1px solid $border_color_light;
    .container__messageList{
        height: 100%;
        .messageList__photo-text{
            margin: 20px 0 0 20px;
            display: flex;
            align-items: center;
            .messageList__photo{
                cursor: pointer;
            }
            .messageList__text{
                font-size: 14px;
                margin: 0 0 0 15px;
                width: auto;
                border-radius: 15px 15px 15px 0;
                padding: 10px;
                background: $border_color_light;
            }
        }
        .messageList__sendTime{
            margin: 2px 0 0 83px;
            font-size: 13px;
            color: $color_text_gray;
        }
    }
    .container__writeMessage{
        width: 600px;
        height: 50px;
        display: flex;
        position: fixed;
        bottom: 0;
        right: 100;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $border_color_light;
        @media(max-width: $LaptopM){
            width: 527px;
        }
        label{
            cursor: pointer;
            margin: 0 5px 0 5px;
            color: $blue_Twitter;
        }
        .writeMessage__input{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500px;
            border: 1px solid $border_color_light;
            border-radius: 40px;
        }
        input[type="text"]{
            @media(max-width: $LaptopM){
                width: 390px;
            }
            width: 450px;
            height: 35px;
            font-size: 0.9em;
            border: transparent;
            background-color: transparent;
            text-decoration: none solid $color_text_gray;
            color: $color_font_light;
            padding: 0 0 0 15px;
        }
    }
}