@import '../../shared/Styles/breakpoints';
@import '../../shared/Styles/colors.scss';

.insideMessage__container{
    width: 600px;
    height: 100%;
    border-right: 1px solid $border_color_light;
    border-left: 1px solid $border_color_light;
    .message__messageList{
        margin: 100px 0 0 100px;
    }
}